# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Kubernetes / Secrets
kubeconfig
*.kubeconfig
*-secret.yaml
secret.yaml
secrets/

# Helm
charts/*/charts/
charts/*/tmpcharts/

# Logs & temp
*.log
*.tmp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
terraform.tfvars
!*.tfvars.example
tfplan-*.bin
