# 作業系統
.DS_Store
Thumbs.db

# 編輯器
.idea/
.vscode/
*.swp
*.swo

# Kubernetes 與 Secrets
kubeconfig
*.kubeconfig
*-secret.yaml
secret.yaml
secrets/

# Helm
charts/*/charts/
charts/*/tmpcharts/

# Log 與暫存檔
*.log
*.tmp

# 本地環境檔案
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
tfplan.*
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
.terraformrc
terraform.rc
tfplan-*.bin
