# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.swp
*.swo

# Kubernetes / Secrets
kubeconfig
*.kubeconfig
*-secret.yaml
secret.yaml
secrets/

# Helm
charts/*/charts/
charts/*/tmpcharts/

# Logs & temp
*.log
*.tmp

# Local environment files
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
tfplan.*
crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars
*.auto.tfvars.json
.terraformrc
terraform.rc
tfplan-*.bin
